USE [master]
GO
/****** Object:  Database [WebThietBiMayTinh]    Script Date: 8/15/2020 8:44:41 PM ******/
CREATE DATABASE [WebThietBiMayTinh]
 CONTAINMENT = NONE

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebThietBiMayTinh].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebThietBiMayTinh]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 8/15/2020 8:44:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[user] [varchar](50) NULL,
	[password] [varchar](20) NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 8/15/2020 8:44:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MaHD] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [money] NULL,
	[ThanhTien] [money] NULL,
 CONSTRAINT [PK_CHITIETHOADON] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 8/15/2020 8:44:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[ID] [int] NOT NULL,
	[DiaChi] [nvarchar](100) NULL,
	[TongMatHang] [int] NULL,
	[TongTien] [money] NULL,
	[NgayLap] [date] NULL,
	[NgayGiao] [date] NULL,
 CONSTRAINT [PK__HOADON__2725A6E048EE4F24] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI]    Script Date: 8/15/2020 8:44:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHASANXUAT]    Script Date: 8/15/2020 8:44:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHASANXUAT](
	[MaNSX] [int] IDENTITY(1,1) NOT NULL,
	[TenNSX] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 8/15/2020 8:44:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[MaNSX] [int] NULL,
	[MaLoai] [int] NULL,
	[TenSP] [nvarchar](100) NULL,
	[MoTa] [nvarchar](500) NULL,
	[Gia] [money] NULL,
	[SoLuong] [int] NULL,
	[Size] [nvarchar](100) NULL,
	[XuatXu] [nvarchar](30) NULL,
	[DacTinh] [nvarchar](500) NULL,
	[Hinh] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THANHVIEN]    Script Date: 8/15/2020 8:44:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANHVIEN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TaiKhoan] [varchar](50) NULL,
	[MatKhau] [varchar](30) NULL,
	[TenKH] [nvarchar](30) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[GioiTinh] [nchar](3) NULL,
	[SDT] [char](10) NULL,
	[NgaySinh] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([ID], [user], [password]) VALUES (1, N'phuong@gmail.com', N'123')
INSERT [dbo].[Admin] ([ID], [user], [password]) VALUES (1001, N'ph@gmail.com', N'123')
SET IDENTITY_INSERT [dbo].[Admin] OFF
INSERT [dbo].[CHITIETHOADON] ([MaHD], [MaSP], [SoLuong], [DonGia], [ThanhTien]) VALUES (11, 3, 1, 150000.0000, 150000.0000)
INSERT [dbo].[CHITIETHOADON] ([MaHD], [MaSP], [SoLuong], [DonGia], [ThanhTien]) VALUES (15, 1, 2, 22000000.0000, 44000000.0000)
INSERT [dbo].[CHITIETHOADON] ([MaHD], [MaSP], [SoLuong], [DonGia], [ThanhTien]) VALUES (16, 1, 1, 22000000.0000, 22000000.0000)
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([MaHD], [ID], [DiaChi], [TongMatHang], [TongTien], [NgayLap], [NgayGiao]) VALUES (10, 2, N'TPHCM', 1, 150000.0000, CAST(N'2019-08-08' AS Date), CAST(N'2019-08-08' AS Date))
INSERT [dbo].[HOADON] ([MaHD], [ID], [DiaChi], [TongMatHang], [TongTien], [NgayLap], [NgayGiao]) VALUES (11, 3, N'Dong Nai', 1, 200000.0000, CAST(N'2019-08-09' AS Date), CAST(N'2019-08-08' AS Date))
INSERT [dbo].[HOADON] ([MaHD], [ID], [DiaChi], [TongMatHang], [TongTien], [NgayLap], [NgayGiao]) VALUES (15, 3, N'TP.HCM', 1, 44000000.0000, CAST(N'2020-08-15' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[HOADON] OFF
SET IDENTITY_INSERT [dbo].[LOAI] ON 

INSERT [dbo].[LOAI] ([MaLoai], [TenLoai]) VALUES (1, N'Laptop')
INSERT [dbo].[LOAI] ([MaLoai], [TenLoai]) VALUES (2, N'Chuột')
INSERT [dbo].[LOAI] ([MaLoai], [TenLoai]) VALUES (3, N'Bàn phím')
SET IDENTITY_INSERT [dbo].[LOAI] OFF
SET IDENTITY_INSERT [dbo].[NHASANXUAT] ON 

INSERT [dbo].[NHASANXUAT] ([MaNSX], [TenNSX]) VALUES (1, N'Apple')
INSERT [dbo].[NHASANXUAT] ([MaNSX], [TenNSX]) VALUES (2, N'Asus')
INSERT [dbo].[NHASANXUAT] ([MaNSX], [TenNSX]) VALUES (3, N'Dell')
SET IDENTITY_INSERT [dbo].[NHASANXUAT] OFF
SET IDENTITY_INSERT [dbo].[SANPHAM] ON 

INSERT [dbo].[SANPHAM] ([MaSP], [MaNSX], [MaLoai], [TenSP], [MoTa], [Gia], [SoLuong], [Size], [XuatXu], [DacTinh], [Hinh]) VALUES (1, 1, 1, N'Laptop Apple Macbook Air', N'Là mẫu laptop văn phòng, có thiết kế siêu mỏng và nhẹ, vỏ nhôm nguyên khối sang trọng. Máy có hiệu năng ổn định, thời lượng pin cực lâu 12 giờ, phù hợp cho hầu hết các nhu cầu làm việc và giải trí.', 22000000.0000, 6, N'Dày 17 mm, 1.35 Kg', N'Trung Quốc', N'Thiết kết mỏng nhẹ nguyên khối', N'LaptopApple1.png')
INSERT [dbo].[SANPHAM] ([MaSP], [MaNSX], [MaLoai], [TenSP], [MoTa], [Gia], [SoLuong], [Size], [XuatXu], [DacTinh], [Hinh]) VALUES (2, 2, 2, N'Chuột gaming ASUS CERBERUS (Đen)', N'Điều khiển DPI linh hoạt - Bốn nấc DPI tùy chỉnh và được báo bằng đèn led', 490000.0000, 10, N'124.86 (L) x 68.72(W) x 40.11(H) mm', N'Mỹ', N'Hai lớp cao su được gắn bên hông tạo cảm giác cầm mềm và chống trượt tối ưu', N'ChuotAsus.png')
INSERT [dbo].[SANPHAM] ([MaSP], [MaNSX], [MaLoai], [TenSP], [MoTa], [Gia], [SoLuong], [Size], [XuatXu], [DacTinh], [Hinh]) VALUES (3, 3, 3, N'Bàn phím Dell KB216B (USB, Có dây)', N'Có thiết kế ấn tượng với những đường cong tạo nên một dáng vẻ thời trang và hiện đại', 280000.0000, 20, N'30 x 11 cm', N'Việt Nam', N'Các phím được bố trí theo công nghệ Zero Degree Titl không gây tiếng ồn khi sử dụng', N'BanPhimDell.png')
SET IDENTITY_INSERT [dbo].[SANPHAM] OFF
SET IDENTITY_INSERT [dbo].[THANHVIEN] ON 

INSERT [dbo].[THANHVIEN] ([ID], [TaiKhoan], [MatKhau], [TenKH], [DiaChi], [GioiTinh], [SDT], [NgaySinh]) VALUES (1, N'hoa', N'123456', N'loan', N'Đồng Nai', N'Nữ ', N'0123456789', CAST(N'1998-02-14' AS Date))
INSERT [dbo].[THANHVIEN] ([ID], [TaiKhoan], [MatKhau], [TenKH], [DiaChi], [GioiTinh], [SDT], [NgaySinh]) VALUES (2, N'huy', N'12345678', N'huy', N'TP.HCM', N'Nữ ', N'9876543210', CAST(N'1998-07-24' AS Date))
INSERT [dbo].[THANHVIEN] ([ID], [TaiKhoan], [MatKhau], [TenKH], [DiaChi], [GioiTinh], [SDT], [NgaySinh]) VALUES (3, N'vi', N'123456', N'Vi', N'TP.HCM', N'Nam', N'7890123456', CAST(N'1998-10-12' AS Date))
SET IDENTITY_INSERT [dbo].[THANHVIEN] OFF
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [DF_HOADON_NgayLap]  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [DF_HOADON_NgayGiao]  DEFAULT (getdate()) FOR [NgayGiao]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [fk_CTHD_HD] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOADON] ([MaHD])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [fk_CTHD_HD]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [fk_CTHD_SP] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SANPHAM] ([MaSP])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [fk_CTHD_SP]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [fk_HD_KH] FOREIGN KEY([ID])
REFERENCES [dbo].[THANHVIEN] ([ID])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [fk_HD_KH]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [fk_SP_LOAI] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LOAI] ([MaLoai])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [fk_SP_LOAI]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [fk_SP_NSX] FOREIGN KEY([MaNSX])
REFERENCES [dbo].[NHASANXUAT] ([MaNSX])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [fk_SP_NSX]
GO
USE [master]
GO
